Repository hhru-school/checkup-extension, pull requests merged in 2023-06, with the labels that each got.

#52 Fix/backend cascade error
  backend/db/init.sql
  backend/src/main/java/ru/hh/school/checkupextension/admin/AdminService.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/VerificationDto.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/admin/EditableProblemDto.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/admin/EditableVerificationDto.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/contest/ContestProblemDto.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/contest/ContestProblemInfoDto.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/contest/ContestSubmissionDto.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/contest/ContestSubmissionShortInfoDto.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/entity/Problem.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/entity/SubmissionShortInfo.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/builder/ProblemBuilder.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/builder/VerificationBuilder.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/mapper/admin/EditableProblemMapper.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/mapper/contest/ContestProblemMapper.java
Labels: bug, backend

#55 Feature/get problem to edit
  backend/src/main/java/ru/hh/school/checkupextension/admin/AdminResource.java
  backend/src/main/java/ru/hh/school/checkupextension/admin/AdminService.java
  checkup-extension.postman_collection.json
Labels: backend

#54 Feature/50
  backend/src/main/java/ru/hh/school/checkupextension/config/CorsFilter.java
  backend/src/main/java/ru/hh/school/checkupextension/contest/ContestResource.java
  frontend/public/locales/en/translation.json
  frontend/public/locales/ru/translation.json
  frontend/src/__data__/constants/endpoints.ts
  frontend/src/__data__/slices/history.ts
  frontend/src/__data__/slices/new-task.ts
  frontend/src/__data__/slices/solution.ts
  frontend/src/__data__/slices/tasks.ts
  frontend/src/components/banner/index.tsx
  frontend/src/components/history/index.module.css
  frontend/src/components/history/index.tsx
  frontend/src/components/task-list/index.tsx
  frontend/src/components/task-table/index.module.css
  frontend/src/components/task-table/index.tsx
  frontend/src/components/tasks/index.tsx
  frontend/src/pages/index-page/admin.tsx
  frontend/src/pages/new-task-page/index.tsx
  frontend/src/pages/task-solution-page/index.tsx
  frontend/src/router/routes.tsx
  frontend/src/types/index.ts
Labels: backend, frontend

#56 Feature/all added problems handle
  backend/src/main/java/ru/hh/school/checkupextension/admin/AdminResource.java
  backend/src/main/java/ru/hh/school/checkupextension/admin/AdminService.java
  backend/src/main/java/ru/hh/school/checkupextension/config/AppConfiguration.java
  backend/src/main/java/ru/hh/school/checkupextension/config/CorsFilter.java
  backend/src/main/java/ru/hh/school/checkupextension/config/HibernateConfiguration.java
  backend/src/main/java/ru/hh/school/checkupextension/contest/ContestResource.java
  backend/src/main/java/ru/hh/school/checkupextension/contest/ContestService.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/PaginationResultDto.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/admin/EditableProblemDto.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/admin/EditableProblemInfoDto.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/admin/ShortEditableProblemInfoDto.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/contest/ContestDto.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/contest/ContestSubmissionDto.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/entity/Problem.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/entity/Submission.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/entity/Verification.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/utils/PaginationResult.java
  backend/src/main/java/ru/hh/school/checkupextension/core/repository/GenericRepository.java
  backend/src/main/java/ru/hh/school/checkupextension/core/repository/ProblemRepository.java
  backend/src/main/java/ru/hh/school/checkupextension/core/repository/SubmissionRepository.java
  backend/src/main/java/ru/hh/school/checkupextension/core/repository/VerificationRepository.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/builder/ProblemBuilder.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/builder/SubmissionBuilder.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/exception/mapper/integration/AuthorizedExceptionMapper.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/mapper/PaginationResultMapper.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/mapper/admin/EditableProblemMapper.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/mapper/contest/ContestSubmissionMapper.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/stub/CheckupApiStub.java
  checkup-extension.postman_collection.json
Labels: backend

#57 Now return specific type for request user's submissions
  backend/src/main/java/ru/hh/school/checkupextension/contest/ContestResource.java
  backend/src/main/java/ru/hh/school/checkupextension/contest/ContestService.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/contest/UserSubmissionsDto.java
Labels: backend

#58 Feature/screenshot checker
  backend/checker/.dockerignore
  backend/checker/.gitignore
  backend/checker/.npmrc
  backend/checker/.nvmrc
  backend/checker/Dockerfile
  backend/checker/README.md
  backend/checker/babel.config.cjs
  backend/checker/check_layout_template
  backend/checker/jest-puppeteer.config.cjs
  backend/checker/jest.config.js
  backend/checker/package-lock.json
  backend/checker/package.json
  backend/checker/problems/.gitkeep
  backend/checker/puppeteer.config.cjs
  backend/pom.xml
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/Checker.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/TestingUtility.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/data/AssertionResult.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/data/TestInfo.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/data/TestResult.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/environment/LayoutTestEnvironment.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/environment/TestEnvironment.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/utils/ProgrammRunner.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/checker/UserSolutionDto.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/exception/checker/CheckingProcessException.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/exception/checker/NotImplementedException.java
  checker-js/example/1/__snapshots__/test.js.snap
  checker-js/example/1/js
  checker-js/example/1/test.js
  checker-js/example/2/__snapshots__/test-js-решение-совпадает-с-примером-1-snap.png
  checker-js/example/2/html
  checker-js/example/2/solution/index.html
  checker-js/example/2/solution/style.css
Labels: backend

#60 Add creation datetime of submissions to their short info
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/contest/ContestSubmissionShortInfoDto.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/entity/SubmissionShortInfo.java
  backend/src/main/java/ru/hh/school/checkupextension/core/repository/SubmissionRepository.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/mapper/contest/ContestSubmissionMapper.java
Labels: backend

#61 Feature/extended problems creation
  .gitignore
  backend/.gitignore
  backend/Dockerfile
  backend/checker/.gitignore
  backend/checker/Dockerfile
  backend/checker/check_layout_template
  backend/src/main/java/ru/hh/school/checkupextension/admin/AdminService.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/environment/LayoutTestEnvironment.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/environment/TestEnvironment.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/register/ProblemRegister.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/register/ScreenshotsCreator.java
Labels: backend

#62 Feature/screenshot problem test handler
  backend/src/main/java/ru/hh/school/checkupextension/config/AppConfiguration.java
  backend/src/main/java/ru/hh/school/checkupextension/contest/ContestResource.java
  backend/src/main/java/ru/hh/school/checkupextension/contest/ContestService.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/Checker.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/ContestManager.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/TestingUtility.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/environment/LayoutTestEnvironment.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/environment/TestEnvironment.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/checker/UserSolution.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/dto/contest/ProblemInfo.java
  backend/src/main/java/ru/hh/school/checkupextension/core/data/enums/ProblemType.java
  backend/src/main/java/ru/hh/school/checkupextension/core/repository/SubmissionRepository.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/mapper/contest/ContestSubmissionMapper.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/mapper/contest/UserSolutionMapper.java
Labels: backend

#63 Now problem's data is stored in a special volume to save permanently
  backend/Dockerfile
  docker-compose.yml
Labels: enhancement, backend

#65 Feature/update problem handler
  backend/src/main/java/ru/hh/school/checkupextension/admin/AdminResource.java
  backend/src/main/java/ru/hh/school/checkupextension/admin/AdminService.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/register/ProblemRegister.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/register/ScreenshotsCreator.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/mapper/admin/EditableProblemMapper.java
Labels: backend

#66 Fix/creating screenshots exceptions
  backend/.gitignore
  backend/src/main/java/ru/hh/school/checkupextension/config/AppConfiguration.java
  backend/src/main/java/ru/hh/school/checkupextension/config/CorsFilter.java
  backend/src/main/java/ru/hh/school/checkupextension/config/HibernateConfiguration.java
  backend/src/main/java/ru/hh/school/checkupextension/contest/ContestService.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/Checker.java
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/register/ScreenshotsCreator.java
  backend/src/main/java/ru/hh/school/checkupextension/core/integration/CheckupInteraction.java
  backend/src/main/java/ru/hh/school/checkupextension/core/integration/ContestManager.java
  backend/src/main/java/ru/hh/school/checkupextension/core/integration/UserInfo.java
  backend/src/main/java/ru/hh/school/checkupextension/core/integration/data/UserInfo.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/exception/checker/ProblemInitializingException.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/exception/core/ProblemNotFoundException.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/exception/mapper/checker/CheckingProcessExceptionMapper.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/exception/mapper/checker/NotImplementedExceptionMapper.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/exception/mapper/checker/ProblemInitializingExceptionMapper.java
  backend/src/main/java/ru/hh/school/checkupextension/utils/stub/CheckupApiStub.java
  backend/src/test/java/ru/hh/school/checkupextension/admin/AdminServiceTest.java
Labels: enhancement, backend

#67 Add logging of util's error
  backend/src/main/java/ru/hh/school/checkupextension/core/checker/TestingUtility.java
Labels: backend

#64 Feature/59
  frontend/public/locales/en/translation.json
  frontend/public/locales/ru/translation.json
  frontend/src/App.tsx
  frontend/src/__data__/constants/constants.ts
  frontend/src/__data__/constants/endpoints.ts
  frontend/src/__data__/slices/history.ts
  frontend/src/__data__/slices/tasks.ts
  frontend/src/components/history/index.tsx
  frontend/src/components/legacy/CheckupLogo/index.tsx
  frontend/src/components/legacy/CheckupMenu/index.tsx
  frontend/src/components/task-table/index.tsx
  frontend/src/index.tsx
  frontend/src/pages/new-task-page/index.tsx
  frontend/src/pages/task-solution-page/index.tsx
  frontend/src/router/index.ts
  frontend/src/router/routes.tsx
  frontend/src/types/index.ts
Labels: frontend

#69 Add Nginx-server to get screenshots
  backend/nginx/templates/default.conf.template
  docker-compose.yml
Labels: enhancement, backend
